<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261899636651-3m6bhh5mmfp7pe7ggglnl0u2cfciu964.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261899636651-3m6bhh5mmfp7pe7ggglnl0u2cfciu964</string>
	<key>API_KEY</key>
	<string>AIzaSyD0ghQqmSs24mzvE-3kxztFEJV046fDcXs</string>
	<key>GCM_SENDER_ID</key>
	<string>261899636651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.latihan</string>
	<key>PROJECT_ID</key>
	<string>latihan-beee7</string>
	<key>STORAGE_BUCKET</key>
	<string>latihan-beee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261899636651:ios:6821b3c5561a635ecd4cee</string>
</dict>
</plist>